# Get data from the largest subsequent window
The largest subsequent window is 146 hours or 6.08 days. <br>
Sequence start on 2023-06-04 23:00:00 and end on 2023-06-11 00:00:00 .

## Imports

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import sys

sys.path.append("../../odbc")
import query_tools as qt

In [2]:
lower_range = "2023-06-04 23:00:00"
upper_range = '2023-06-11 00:00:00'

## Gettings the tables

In [ ]:
query = f"""
SELECT * 
FROM flight.search
WHERE  "operationalSearchTime" >= '{lower_range}' AND "operationalSearchTime" <= '{upper_range}'
"""
search = qt.run_query(query)
search.to_parquet("search_largest_subsequent.parquet")
search.shape

In [ ]:
query = f"""
SELECT * 
FROM flight.fare F JOIN (
    SELECT "searchId" as "searchIdSearchTable", "searchTime",
    "operationalSearchTime", "flightDay",
    "originCode", "destinationCode", "insertionTime"
    FROM flight.search
    WHERE  "operationalSearchTime" >= '{lower_range}' AND "operationalSearchTime" <= '{upper_range}'
) S ON S."searchIdSearchTable" = F."searchId"
"""
search_fare = qt.run_query(query)
del search_fare['insertionTime']
search_fare.to_parquet("search_fare_largest_subsequent.parquet")
search_fare.shape

In [ ]:
query = f"""
SELECT * 
FROM flight.flight F JOIN (
    SELECT "searchId" as "searchIdSearchTable"
    FROM flight.search
    WHERE  "operationalSearchTime" >= '{lower_range}' AND "operationalSearchTime" <= '{upper_range}'
) S ON S."searchIdSearchTable" = F."searchId"
"""
flight = qt.run_query(query)
flight.to_parquet("flight_largest_subsequent.parquet")
flight.shape

In [3]:
query = f"""
SELECT * 
FROM flight.normalized_fares_view F JOIN (
    SELECT "searchId" as "searchIdSearchTable"
    FROM flight.search
    WHERE  "operationalSearchTime" >= '{lower_range}' AND "operationalSearchTime" <= '{upper_range}'
) S ON S."searchIdSearchTable" = F."searchId"
"""
normalized_fares_view = qt.run_query(query)
normalized_fares_view.to_parquet("normalized_fares_view_largest_subsequent.parquet")
normalized_fares_view.shape

(33848879, 5)